body {
  margin: 0;
  font-family: input-sans, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #FFF;
}

.fotter {
  background-color: #000000;
  overflow: hiden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-bottom: 80px
  padding-top: 80px;

}

.container { font-family: source-code-pro, monospace;
font-weight: 700;
font-style: normal;
font-size: 18px;
font color: 000
}

.a h1 {
  font-family: input-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  float: left
}

.wrapper h1 {
  font-family: input-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  float: left
}

.wrapper h2 {
  font-family: input-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  float: left
}
.wrapper h3 {
  font-family: input-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  float: left
}

.wrapper h4 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
font-style: normal;
  font-size: 12px;
  float: left
}
.wrapper h5 {
  font-family: input-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  float: left
}


.topnav a {
  font-family: input-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  display: block;
  color: #000000;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 15px;
  float: right
}
.topnav b {
  font-family: input-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 2px 6px;
  text-decoration: none;
  font-size: 15px;
}

.main-nav a {
  font-family: input-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  font-size: 15px;
  float: center
}
.topnav a:hover {
  background-color: #FFF;
  color: black;
}

.topnav b:hover {
  background-color: #FFF;
  color: black;
}

.topnav a.active {
  background-color: #FFF;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.topnav.responsive b {
  float: none;
  display: block;
  text-align: left;
}
}

* {box-sizing: border-box;}

    .wrapper {
        max-width: 1024px;
        margin: 0 auto;
        font-family: 'PT Sans', sans-serif;
        padding: 5px;
    }
    * {box-sizing: border-box;}

        .wrapper > * {
            border: .5px solid #fff;
            background-color: FFF;
            border-radius: .5px;
            padding: 5px;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

    .header {
        padding: 1px;
    }

    .main-head {
      grid-area: header;
    }
    .content {
      grid-area: content;
      border: ;
      background-color: #fafafa;
      padding-top: 20px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 40px;
    }
    .main-nav {
      grid-area: nav;
    }
    .side {
      grid-area: sidebar;
      border: ;
      background-color:#fafafa;
      padding-top: 20px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 40px;
    }
    .ad {
      grid-area: ad;
    }
    .main-footer {
      grid-area: footer;
      padding-bottom: 30px
      padding-top: 10px;
    }
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-areas:
        "header"
        "nav"
        "sidebar"
        "content"
        "ad"
        "footer";
    }
    @media (min-width: 550px) {
      .wrapper {
        grid-template-columns: 3.5fr 3fr;
        grid-gap: 10px;
        grid-template-areas:
          "header header"
          "nav     nav"
          "sidebar content"
          "sidebar content"
          "footer     footer";
      }
      nav ul {
        display: flex;
        justify-content: space-between;
      }
    }
    @media (min-width: 700px) {
      .wrapper {
        grid-template-columns: 3.5fr 3.5fr .25fr;
        grid-template-areas:
          "header header header"
          "nav nav nav"
          "sidebar content content"
          "footer footer  footer"
       }
       nav ul {
         flex-direction: column;
       }
    }


img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
small img {
    width: 50%;
    height: 50%;
    display: block;
    object-fit: cover;
}



section .row img {
  margin: 0 0 0px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%
}

.container {
  padding-bottom: 40px;
  padding-top: 20px;
}

.row {
  padding-bottom: 10px;
  padding-top: 0px;
}

.col-md-6 {
  margin: 0 0 30px;
}

.col-md-3 {
  margin: 0 0 10px;
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/projectpage.gif");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: source-code-pro, monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  font color: 000
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}


.btn-group button {
  background-color: #red; /* Green background */
  border: 1px solid ghostwhite; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #darkred;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

embed {
    position: absolute;
    padding: 30px;
    border: 0px;
    margin: 10px;
    z-index: 9999;
}


</style>
